.venv/
env/
venv/
__pycache__/
*.pyc

.DS_Store
Thumbs.db

data/bruto/*.csv
data/tratado/*.csv
data/features/*.csv
data/split/*.csv

!data/bruto/.gitkeep
!data/tratado/.gitkeep
!data/features/.gitkeep
!data/split/.gitkeep